/* .card {
  background-color: yellow;
  height: 50%;
  width: 50%;
}
.infoSquare {
  background-color: green;
  height: 50%;
  width: 50%;
}
.name {
  background-color: blue;
  height: 40%;
  width: 40%;
}
.moreInfoButton {
  background-color: red;
  height: 30%;
  width: 30%;
}
#container {
  background-color: gray;
  height: 100vh;
} */
